.pad-panel .main_container {
    background: url(../img/img_background.gif) white center center / cover;
}

.pad-panel .panels-flexible-region {
    background: white;
}

.pad-panel .section_container .section_content {
    min-height: 100%;
}

.pad-panel .main-menu {
    margin: 0 0 30px !important;
}

.pad-panel .main-menu .pane-content {
    background-color: white;
}

.pad-panel .main-menu .menu {
    border-bottom-color: #ffe900 !important;
}

.pad-panel .pad-vertical-menu .menu li:first-child {
    display: none;
}

.pad-panel .pad-footer {
    padding: 0;
}

.pad-panel .digital-pilos-videos .view-content > *,
.pad-panel .digital-teachers-videos .view-content > *,
.pad-panel .expeticia-files .view-content > * {
    width: 31%;
    float: left;
    margin: 12px 0 12px 17px;
    text-align: center;
}

@media (max-width: 767px) {
    .pad-panel .section_container.no_left_sidebar .section_content {
        width: 100% !important;
    }

    .pad-panel .digital-pilos-videos .view-content > *,
    .pad-panel .digital-teachers-videos .view-content > *,
    .pad-panel .expeticia-files .view-content > *  {
        width: 75%;
        margin: 15px 12.5%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .pad-panel .digital-pilos-videos .view-content > *,
    .pad-panel .digital-teachers-videos .view-content > *,
    .pad-panel .expeticia-files .view-content > *  {
        width: 47%;
        margin: 12px 0 12px 17px;
    }
}

@media (min-width: 851px) {
    .pad-panel .main-menu .menu {
        display: table;
        width: 60%;
        margin-left: 20%;
        border: none !important;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .pad-panel .main-menu .menu > li {
        float: none;
        display: table-cell;
    }
}
